<!DOCTYPE html>
<html>
<style>
div.a {
  text-align: center;
}

div.b {
  text-align: left;
}
</style>

<body>
<div class="a">

<h1> Hello User! </h1>
<h1><p id="date"></p></h1>
<div class="b">

<p> Minutes you spent on Eating	: {{eat}}   </p>
<p> Minutes you spent Out: {{none_}} </p>
<p> Minutes you spent on Praying: {{pray}}  </p>
<p> Minutes you spent on Sleeping: {{sleep}} </p>
<p> Minutes you spent on Studying: {{study}} </p>
</div>
<img src="/static/{{name}}.png" >

</div>
</body>

</html>

